# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
node_modules*.zip
node_modules*.7z
miniprogram_npm/

package-lock.json
project.config.json
project.private.config.json

cloud/screen-maker/output/

*-ignore.js
/dist